<!doctype html>
<html>
<head>
    <title>Diary</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Righteous|Sen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="myposts.css">
      <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
</head>
  <body>
    <!-- <header class="titleHere">

      <section>


      </section>
    </header> -->
    <section class="feed">
      <a href="/writepost" class="btn btn-default"><span class="fa fa-user"></span> Write New Post</a>
          <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Feed</a>
      <a href="/logout" class="btn btn-default">Logout</a>


          <h2>My messages</h2>
          <% for(var i=0; i<favorites.length; i++) {%>


            <% if (user.local.email == favorites[i].name) { %>
             <section class="post">
              <h5><%= favorites[i].name %></h5>
              <h5><%= favorites[i].title %></h5>
              <h5><%= favorites[i].date %></h5>
              <p><%= favorites[i].msg %></p>




              <span class="good" style="color:<%= favorites[i].favorite %>"><%= favorites[i].good %></span>
              <span><i id="trash" class="fa fa-trash" aria-hidden="true"></i></span><br><br><br><br>
            </section>
            <% } %>
            <% } %>
      </section>


      <script src="main.js"></script>
    </body>
</html>